.env
.env.*
!.env.example

.idea/
.vscode/

.DS_Store
Thumbs.db

.docker/caddy/data/
.docker/caddy/config/
.docker/caddy/cloudflare/
.docker/caddy/certs/
.docker/caddy/caddy_ssl/

.docker/logs/*
!.docker/logs/.gitignore

.docker/mysql/data/
.docker/redis/

*.log

.git.*